<div id="container">
  <img class="fruits" src="/images/parallaxHome.png" />
  <img class="wheel" src="/images/wheel.png" alt="">

</div>


<div>
  <a href="./recipe/categories/Mexican">Mexican</a>
  <a href="./recipe/categories/Mexican">Italian</a>
  <a href="./recipe/categories/Mexican">Asian</a>
  <a href="./recipe/categories/mexican">American</a>
</div>
<div class="home-buttons">
  <a href="">Im Feeling Luck</a>
  <a href="">Meal of the Day</a>
</div>

</div>