<div id="views-index" >
  <div id="wheel">
    <img src="/images/wheel.png" alt="">
  </div>

  <div class="home-buttons">
    <a href="">Im Feeling Luck</a>
    <a href="">Meal of the Day</a>
  </div>
 
</div>
