  <h1>Cuisine's Around the World</h1>
<div id="homepage">
  <div class="worldmap">
    <div class="container">
      <div class="map-container">
        <img src="http://res.cloudinary.com/slzr/image/upload/v1500321012/world-map-1500_vvekl5.png">
        <a href="/recipe/categories/Mexican"><div class="point mexican tippy" title="Mexican"></div></a>
        <a href="/recipe/categories/American"><div class="point american tippy" title="American"></div></a>
        <a href="/recipe/categories/Italian"><div class="point italian tippy" title="Italian"></div></a>
        <a href="/recipe/categories/Indian"><div class="point indian tippy" title="Indian"></div></a>
        <a href="/recipe/categories/Chinese"><div class="point chinese tippy" title="Chinese"></div></a>
        <a href="/recipe/categories/Caribbean"><div class="point caribbean tippy" title="Caribbean"></div></a>
        <a href="/recipe/categories/Thai"><div class="point thai tippy" title="Thai"></div></a>
        <a href="/recipe/categories/Southamerican"><div class="point southamerican tippy" title="South America"></div></a>
      </div>
    </div>
 </div>



</div>

 {{!-- <div class="aboutme">
   <div class="story">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repudiandae suscipit consectetur impedit, dolores ad mollitia maxime tempora non, animi facilis nam minima magnam veritatis!
   </div>
   <div class="story-pic">
     <img src="/images/foodsketch.png" alt="">
   </div>
 </div> --}}




