  <h1>Cuisine's Around the World</h1>
<div id="homepage">

  <div class="worldmap">
    <div class="container">
      <div class="map-container">
        <img src="http://res.cloudinary.com/slzr/image/upload/v1500321012/world-map-1500_vvekl5.png">
        <a href="/recipe/categories/mexican"><div class="point mexican tippy" title="Mexican"></div></a>
        <a href="/recipe/categories/american"><div class="point american tippy" title="American"></div></a>
        <a href="/recipe/categories/italian"><div class="point italian tippy" title="Italian"></div></a>
        <a href="/recipe/categories/indian"><div class="point indian tippy" title="Indian"></div></a>
        <a href="/recipe/categories/chinese"><div class="point chinese tippy" title="Chinese"></div></a>
        <a href="/recipe/categories/caribbean"><div class="point caribbean tippy" title="Caribbean"></div></a>
        <a href="/recipe/categories/thai"><div class="point thai tippy" title="Thai"></div></a>
        <a href="/recipe/categories/southamerican"><div class="point southamerican tippy" title="South America"></div></a>
      </div>
    </div>
 </div>

</div>
 <div>
   <div>About me</div>
   <div class="story">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut est ea cum ducimus,
      quasi repellat voluptatibus! Ad, minima. Aspernatur, aperiam ea? A itaque culpa 
      eligendi minus, deleniti totam praesentium illum id nisi, odio corrupti quisquam 
      voluptatibus maxime labore aspernatur ducimus aliquid commodi quam ab impedit in.
       Velit autem iure, repellat quibusdam veniam quaerat nemo molestiae quod voluptatem 
       explicabo necessitatibus voluptatibus, officiis recusandae ipsa! Omnis, excepturi 
       esse. Delectus corrupti vel, commodi ipsa cum mollitia itaque labore sapiente 
       obcaecati unde excepturi assumenda fugiat? Alias nesciunt quo commodi temporibus
        architecto aperiam impedit odio eum ipsam, harum quam animi mollitia, 
        spossimus doloremque adipisci vero.
   </div>
 </div>




