<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" type="image/png" href="/images/favicon32.png"/>
</head>

<body>

  <nav>
    <div class="navbar">
       <a href="/">
        <img src="/images/logo.png" alt="not working"></a>
      


      <a href="/">
        Go to celebrities
      </a>
      <br>

      <a href="/user">
        User
      </a>

      <a href="/user/profile">Profile</a>

      <a href="/user/signuplogin">sign up / Login</a>

      {{!-- Added a type submit to an ancor tag, is that even possible? It works :P --}}
      <div class="search">
        <input type="text" class="searchTerm" placeholder="What are you looking for?">
        <a type="submit" href="submit" class="searchButton btn">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </div>


      
      <form action="/logout" method="POST"><button>Logout</button></form>
    </div>
  </nav>

  {{{body}}}


  <footer>
      <div>Developed with <i class="fa fa-heart"></i> by Matthew Larrubia</div>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>