body {
  margin: 2px 5px 0px 5px;
}

.fa-cog {
  color: black;
}

// ------------------   Navbar   --------------------------------
// #00B7FF

nav{
 background-color: #00B7FF;
 border-radius: 12px 12px 0 0;

}

nav a{
  color: white;
  font-size: 1.4em;
}

nav a:hover{
  text-decoration: none;
}

nav img{
  width: 80px;
  margin: 0 20px 0 30px;
}



a.waves-effect {
  color: blue;
}




nav a[type="submit"] {
  background-color: none;
  margin-left: -50px;
}



// Removes the weird button highlight on click. Need to fix for a seamless transition.
.btn:focus {
  outline: none;
}

.search {
  width: 400px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

// Find a way to make the placeholder
::placeholder{
  font-size: 18px;
}

.searchTerm {
  width: 80%;
  border: 3px solid #00B7FF;
  // border-right: none;
  padding: 12px 12px 12px 20px; 
  height: 50px;
  border-radius: 26px ;
  // outline: none;
  // color: #9DBFAF;
  font-size: 22px;
  padding-left: 30px;
}

.searchTerm:focus{
  color: #00B7FF;
}

.searchButton {
  
}

.searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #00B7FF;
  background: #00B7FF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}



// -----------------   Views - Index (Home Page)   -------------------------------

h1{
  margin-top: 25px;
}
#homepage{
  // background-image: url(/images/login-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.infopage{
  margin: 100px 25px 0 50px;
  width: 800px;
}

h1{
  text-align: center;
}

// #views-index{
//   background-image: url(../images/parallaxHome.png);
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 100vh;
//   margin-bottom: 100px;
  
// }

#views-index img{
  width: 800px;
}


#wheel{
  padding-top: 100px;
  // Wheel doesnt looked center with two buttons underneath so i added padding right to fix it.
  padding-right: 50px;
  display: flex;
  justify-content: center;
}


.home-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 300px;
}

.home-buttons a{
  
  background-color: #00B7FF;
  padding: 25px;
  border-radius: 22px;
}





// -------------------   Home page Parallax    ------------------------





// -------------------   User-views - login   ---------------------------

.loginpage{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // background-color: blue;
  height: 100vh;
  padding: 200px;
}

.login-form{

}

.login-picture{
  background-image: url('/images/image3.jpg');
  background-size: cover;
  height: 700px;
  width: 900px;
  background-color: red;
}









// -------------------   User-views - signup   ---------------------------






#login-body{
  background-image: url(../images/login-bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#input-form{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: white;
  height: 50vh;
  width: 30vw;
  border-radius: 18px;
  opacity: .6;
}

#input-form input{
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  background-color: white;
}

#input-form button{
  color: #000;
}





// -------------------   user-views - profile   -------------------











// -------------------   user-views - category (currently in profile)  -------------------

.carousel{
  // display: flex;
  flex-direction: row;
  // flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.9); 
  overflow: auto;
  white-space: nowrap;
  padding: 30px;
}

.carousel .tile{
  display: inline-block;
  width: 257px;
  height: 257px;
  background-color: pink;
  margin: 25px;
  border-radius: 22px;
}

.tile:hover img {
  transform: scale(1.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  // transition-delay: 2.5s;
  transition: all .6s ease-in;
}

.category{
  margin-bottom: 100px;
}

.recipeImg{
  width: 257px;
  height: 257px;
  border-radius: 22px;
  
}




  // --------------------   Footer   -------------------------------
  

  .bodygap{
    min-height: 100vh;
  }

  footer{
    width: 100%;
    height: 120px;
    background-color: black;
    letter-spacing: 2px;
    color: white;
    padding: 12px;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 5px;
  
  }

  footer img{
    width: 300px;
  }

  .footer-img{
    display: flex;
    justify-items: center;
  }


  .footer-love{
    display: flex;
    justify-content: flex-end
  }




  //  -----------------  Create Recipe   ------------------------------------

  #create-recipe-body{
    height: 80vh;
    width: 90vw;
    display: flex;
    margin: 100px auto 0 auto;
    background-repeat: no-repeat;

  }


  #create-recipe-form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 175px;
  }

  #create-recipe-input-form{
    background-color: bisque;
    opacity: .4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px;
    border-radius: 22px;
  }





  // ------------------- recipe-views Card   ----------------------------------
  
  .recipeCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  // ------------------------------
  .upper-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
  }
  .left-upper{
    height: 400px;
    width: 600px;
  }

  .recipe-card-title{
    display: flex;
    flex-direction: column;
  }
  
  .left-upper h1{
    text-align: left;
    margin-bottom: 40px;
    
  }

  .recipe-card-data{
    font-size: 36px;
    display: flex;
    
  }

  .recipe-card-ingredient, .recipe-card-score, .recipe-card-calories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    margin-right: 31px;
  }


// -------------------------------
  .right-upper{
    height: 400px;
    width: 400px;
    background-color: palegoldenrod;
  }

  .recipe-video-card{

  }

  .recipe-video-card img{
    width: 400px;
  }




  // --------------------------------

  .middle-card{
    height: 400px;
    background-color: pink;
  }


  // -------------------------------
  .bottom-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 51px;
  }

  .recipe-card-ingredients{
    height: 400px;
    width: 600px;
  }

  .recipe-card-steps{
    height: 400px;
    width: 600px;
  }







  //  --------------------   Modal for Recipe Card   -----------------------------

  .modal-recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .modal-body img{
    height: 300px;
    width: 300px;
    border-radius: 12px;
}

.modal-body{
    background-color: bisque;
    padding: 25px;    
}
.modal-content{
    width: 800px;
}


.modal-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    align-self: flex-start;
    

}





// -------------------   Maps    -------------------------------


// Color for map maybe #427331



.worldmap{
  display: flex;
  justify-content: center;
  // background-color: bisque;
  margin: 0 5%;
}

html, body {
  height: 100%;
}
// body {
//   background-color: #f0f0f0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }


$primary: #00acc1;

.map-container {
  padding: 3.2rem .8rem;
  position: relative;
  display: inline-block;
  img {
    width: 100%;
  }
  .point {
    cursor: pointer;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color:  $primary;
    border-radius: 50%;
    transition: all .3s ease;
    will-change: transform, box-shadow;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 rgba($primary, 0.4);
    animation: pulse 3s infinite;
    &:hover {
      animation: none;
      transform:  translate(-50%, -50%) scale3D(1.35, 1.35 ,1);
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }
  .mexican { top: 38%; left: 12%; }
  .american { top: 26%; left: 17%; }
  .italian { top: 35%; left: 50%; }
  .chinese { top: 35%; left: 76%; }
  .caribbean {top: 45%; left: 20%; }
  .indian {top: 45%; left: 69%; }
  .thai {top: 55%; left: 77%; }
  .southamerican {top: 65%; left: 26%; }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba($primary, 0.5); }
  70% { box-shadow: 0 0 0 25px rgba($primary, 0); }
  100% { box-shadow: 0 0 0 0 rgba($primary, 0); }
}







// ---------------------   Parallax on Categories   -------------------------------


.pimg1, .pimg2, .pimg3, .pimg4{
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.pimg1{
  background-image: url('/images/breakfast.jpg');
  height: 50%;
  padding: 200px;
}
.pimg2{
  background-image: url('/images/lunch.jpg');
  height: 50%;
  padding: 200px;
}
.pimg3{
  background-image: url('/images/dinner.jpg');
  height: 50%;
  padding: 200px;
}
.pimg4{
  background-image: url('/images/dessert.jpg');
  height: 50%;
  padding: 200px;
}

.ptext{
  font-size: 35px;
  text-align: center;
  color: #000;
  font-size: 47px;
  letter-spacing: 8px;
  text-transform: uppercase;
  border: none;
  }



















 