body {
  margin: 2px 5px 0px 5px; }

.fa-cog {
  color: black; }

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #00B7FF;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
  padding: 13px 0; }

a {
  color: #ffffff;
  text-decoration: none; }

a.waves-effect {
  color: blue; }

nav a {
  font-size: 1.7em; }

nav img {
  width: 60px;
  border-radius: 12px;
  margin-right: 10px; }

nav input {
  border-radius: 20px;
  padding: 6px; }

nav a[type="submit"] {
  margin-top: 10px;
  margin-left: -60px;
  height: 20px;
  width: 50px; }

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B7FF;
  background: #00B7FF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px; }

.btn:focus {
  outline: none; }

.search {
  width: 400px;
  position: relative;
  display: flex;
  justify-content: flex-end; }

::placeholder {
  font-size: 15px; }

.searchTerm {
  width: 80%;
  border: 3px solid #00B7FF;
  border-right: none;
  padding: 12px;
  height: 20px;
  border-radius: 26px;
  outline: none;
  color: #9DBFAF;
  font-size: 22px;
  padding-left: 30px; }

.searchTerm:focus {
  color: #00B7FF; }

.searchButton {
  width: 40px;
  height: 44px;
  border: 3px solid #ffffff;
  background: #fff;
  text-align: center;
  color: #000;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
  font-size: 20px;
  margin-top: 3px; }

h1 {
  margin-top: 25px; }

#homepage {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.infopage {
  margin: 100px 25px 0 50px;
  width: 800px; }

h1 {
  text-align: center; }

#views-index img {
  width: 800px; }

#wheel {
  padding-top: 100px;
  padding-right: 50px;
  display: flex;
  justify-content: center; }

.home-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 300px; }

.home-buttons a {
  background-color: #00B7FF;
  padding: 25px;
  border-radius: 22px; }

.loginpage {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
  padding: 200px; }

.login-picture {
  background-image: url("/images/image3.jpg");
  background-size: cover;
  height: 700px;
  width: 900px;
  background-color: red; }

#login-body {
  background-image: url(../images/login-bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px; }

#input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 50vh;
  width: 30vw;
  border-radius: 18px;
  opacity: .6; }

#input-form input {
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  background-color: white; }

#input-form button {
  color: #000; }

.carousel {
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: auto;
  white-space: nowrap;
  padding: 30px; }

.carousel .tile {
  display: inline-block;
  width: 257px;
  height: 257px;
  background-color: pink;
  margin: 25px;
  border-radius: 22px; }

.tile:hover img {
  transform: scale(1.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all .6s ease-in; }

.category {
  margin-bottom: 100px; }

.recipeImg {
  width: 257px;
  height: 257px;
  border-radius: 22px; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  letter-spacing: 2px;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: center;
  margin: 2px 8px 0px 5px;
  margin-right: 5px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-bottom: 5px; }

.recipeCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.modal-recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.modal-body img {
  height: 300px;
  width: 300px;
  border-radius: 12px; }

.modal-body {
  background-color: bisque;
  padding: 25px; }

.modal-content {
  width: 800px; }

.modal-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  align-self: flex-start; }

.worldmap {
  display: flex;
  justify-content: center; }

html, body {
  height: 100%; }

.map-container {
  padding: 3.2rem .8rem;
  position: relative;
  display: inline-block; }
  .map-container img {
    width: 100%; }
  .map-container .point {
    cursor: pointer;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #00acc1;
    border-radius: 50%;
    transition: all .3s ease;
    will-change: transform, box-shadow;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 rgba(0, 172, 193, 0.4);
    animation: pulse 3s infinite; }
    .map-container .point:hover {
      animation: none;
      transform: translate(-50%, -50%) scale3D(1.35, 1.35, 1);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .map-container .mexican {
    top: 38%;
    left: 12%; }
  .map-container .american {
    top: 26%;
    left: 17%; }
  .map-container .italian {
    top: 35%;
    left: 50%; }
  .map-container .chinese {
    top: 35%;
    left: 76%; }
  .map-container .caribbean {
    top: 45%;
    left: 20%; }
  .map-container .indian {
    top: 45%;
    left: 69%; }
  .map-container .thai {
    top: 55%;
    left: 77%; }
  .map-container .southamerican {
    top: 65%;
    left: 26%; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 172, 193, 0.5); }
  70% {
    box-shadow: 0 0 0 25px rgba(0, 172, 193, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 172, 193, 0); } }

.pimg1, .pimg2, .pimg3, .pimg4 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.pimg1 {
  background-image: url("/images/breakfast.jpg");
  height: 50%;
  padding: 200px; }

.pimg2 {
  background-image: url("/images/lunch.jpg");
  height: 50%;
  padding: 200px; }

.pimg3 {
  background-image: url("/images/dinner.jpg");
  height: 50%;
  padding: 200px; }

.pimg4 {
  background-image: url("/images/dessert.jpg");
  height: 50%;
  padding: 200px; }

.ptext {
  font-size: 35px;
  text-align: center;
  color: #000;
  font-size: 47px;
  letter-spacing: 8px;
  text-transform: uppercase;
  border: none; }

/*# sourceMappingURL=style.css.map */